$font1: "Old Standard TT", serif;
$font2: "Rubik", sans-serif;

$green1: "#497702";
$green2: "#365902";
$green3: "#1A3400";
$grey1: "#EBE8E5";
$grey2: "#C1BFBB";
$grey3: "#848380";

main {
  background-color: $green3;
}
